@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap");
body {
  font-family: "EB Garamond 500", serif; }

.centrado-general, footer .grupo-nav-footer, footer .medios-contacto {
  display: flex;
  justify-content: center;
  align-items: center; }

.item-color, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-10, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-30, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-40, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-45, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-50, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-100, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-102, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-111, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-116, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-117, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-210, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-213, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-214, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-215, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-216, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-300, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-302, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-303, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-306, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-307, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-308, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-308b, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-311, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-315, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-400, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-401, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-402, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-404, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-406, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-407, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-408, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-409, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-412, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-414, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-416, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-417, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-418, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-421, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-422, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-423, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-424, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-425, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-500, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-501, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-502, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-502b, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-504, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-506, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-510, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-511, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-512, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-513, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-519, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-520, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-600, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-600c, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-601, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-607, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-608, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-700, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-701, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-702, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-703, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-705, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-706, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-708, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-709, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-710, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-712, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-715, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-716, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-717, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-718, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-719, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-721, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-722, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-723, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-724, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-802, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-803, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-804, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-805, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-807, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-810, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-812, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-812b, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-819, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-900, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-901, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-907, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-910, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-911, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-912, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-912b, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-913, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-914, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-915, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-916, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-924, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-926, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-927, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-928, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-929, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-930, main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-931 {
  height: 50px;
  max-width: 100px;
  border: solid 1px black; }

/* HEADER */
header nav {
  background-color: white;
  border: solid 1px #f0efef; }
  header nav ul li a {
    text-align: center;
    font-size: 1.3rem;
    border: solid 1px black;
    background-color: #E2ECE9;
    border-radius: 5px;
    color: black !important; }
    header nav ul li a:hover {
      color: #1d98b4 !important; }
  header nav ul li .active {
    background-color: #BEE1E6; }

/* MAIN */
main {
  margin-top: 140px; }
  main h1 {
    color: #398793;
    margin: 20px;
    text-align: center;
    font-size: 3rem;
    animation-name: entrada;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s; }
  main .grupo-tarjetas .row .col a {
    text-decoration: none;
    color: black; }
  main .grupo-tarjetas .card .card-body {
    text-align: center; }
    main .grupo-tarjetas .card .card-body h5 {
      color: #398793;
      font-weight: bold; }
  main .grupo-tarjetas .card:hover {
    background-color: #E2ECE9; }
  main .grupo-tarjetas .card-producto .card-body .boton-producto {
    text-align: center;
    font-size: 1.1rem;
    border: solid 1px black;
    background-color: #BEE1E6;
    border-radius: 5px;
    color: black !important;
    padding: 0.3rem; }
  main .grupo-tarjetas .card-producto .lista-colores {
    background-color: white; }
    main .grupo-tarjetas .card-producto .lista-colores .grupo-color {
      background-color: white;
      width: 120px; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-10 {
        background-color: #a9adb0; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-30 {
        background-color: #a02216; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-40 {
        background-color: #d0a44b; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-45 {
        background-color: #bd8668; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-50 {
        background-color: #ffffff; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-100 {
        background-color: #000000; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-102 {
        background-color: #000000; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-111 {
        background-color: #a9adb0; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-116 {
        background-color: #516570; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-117 {
        background-color: #a2a7ab; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-210 {
        background-color: #ffffff; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-213 {
        background-color: #e8e4e1; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-214 {
        background-color: #fcf8d3; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-215 {
        background-color: #bfbaa7; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-216 {
        background-color: #ffdfb0; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-300 {
        background-color: #fdbd15; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-302 {
        background-color: #ffe76b; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-303 {
        background-color: #ede84a; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-306 {
        background-color: #ffc758; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-307 {
        background-color: #ffde63; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-308 {
        background-color: #ffdf3c; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-308b {
        background-color: #fba919; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-311 {
        background-color: #ffefc3; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-315 {
        background-color: #d9d921; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-400 {
        background-color: #007db3; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-401 {
        background-color: #01468b; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-402 {
        background-color: #0172ac; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-404 {
        background-color: #0057a6; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-406 {
        background-color: #1f419b; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-407 {
        background-color: #222e84; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-408 {
        background-color: #0072ae; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-409 {
        background-color: #b2e0f8; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-412 {
        background-color: #009ada; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-414 {
        background-color: #008499; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-416 {
        background-color: #b3d5f0; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-417 {
        background-color: #22c0f0; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-418 {
        background-color: #caddee; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-421 {
        background-color: #4879bc; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-422 {
        background-color: #275cac; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-423 {
        background-color: #b4d2d2; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-424 {
        background-color: #1a9d89; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-425 {
        background-color: #087d80; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-500 {
        background-color: #c82166; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-501 {
        background-color: #ab0068; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-502 {
        background-color: #ed2c23; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-502b {
        background-color: #db4698; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-504 {
        background-color: #b22432; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-506 {
        background-color: #651b29; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-510 {
        background-color: #5b176a; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-511 {
        background-color: #ccaacf; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-512 {
        background-color: #a584bd; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-513 {
        background-color: #decfe4; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-519 {
        background-color: #aaa3cf; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-520 {
        background-color: #622e6e; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-600 {
        background-color: #f26122; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-600c {
        background-color: #ff6800; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-601 {
        background-color: #f47320; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-607 {
        background-color: #fdb455; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-608 {
        background-color: #fac2a7; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-700 {
        background-color: #d81a34; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-701 {
        background-color: #ed1b24; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-702 {
        background-color: #ec323f; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-703 {
        background-color: #d81a34; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-705 {
        background-color: #ef4337; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-706 {
        background-color: #9d2115; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-708 {
        background-color: #ed2c23; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-709 {
        background-color: #f9c0d3; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-710 {
        background-color: #f5cbe1; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-712 {
        background-color: #ef5289; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-715 {
        background-color: #f4c0d7; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-716 {
        background-color: #f49fb2; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-717 {
        background-color: #f389a0; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-718 {
        background-color: #e33c98; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-719 {
        background-color: #e871a9; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-721 {
        background-color: #f9ced7; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-722 {
        background-color: #e64298; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-723 {
        background-color: #f3818b; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-724 {
        background-color: #d81a34; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-802 {
        background-color: #d89757; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-803 {
        background-color: #c46c5e; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-804 {
        background-color: #7b6b5e; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-805 {
        background-color: #7c2e07; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-807 {
        background-color: #7a563e; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-810 {
        background-color: #7a563e; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-812 {
        background-color: #faaa53; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-812b {
        background-color: #df9848; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-819 {
        background-color: #695647; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-900 {
        background-color: #b4d433; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-901 {
        background-color: #75bf44; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-907 {
        background-color: #37500e; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-910 {
        background-color: #93c749; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-911 {
        background-color: #b4d433; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-912 {
        background-color: #0cac4a; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-912b {
        background-color: #c5b150; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-913 {
        background-color: #005234; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-914 {
        background-color: #9ba54f; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-915 {
        background-color: #a6d8cc; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-916 {
        background-color: #007145; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-924 {
        background-color: #aad7ae; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-926 {
        background-color: #d6c40a; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-927 {
        background-color: #47c3cf; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-928 {
        background-color: #bae3e5; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-929 {
        background-color: #01b1af; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-930 {
        background-color: #a6dc6e; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color .item-color-931 {
        background-color: #277f7b; }
      main .grupo-tarjetas .card-producto .lista-colores .grupo-color p {
        line-height: 1;
        margin: 3px 0px 8px 0px;
        text-align: center; }

@keyframes entrada {
  0% {
    transform: translateX(-100vw); }
  100% {
    transform: translateX(0vw); } }

@media screen and (max-width: 576px) {
  main .carousel .slide img {
    height: 20vh; } }

/* FOOTER */
footer {
  background-color: #E2ECE9;
  margin-top: 20px; }
  footer .grupo-nav-footer {
    justify-content: space-evenly;
    align-items: start; }
    footer .grupo-nav-footer .nav-footer {
      text-align: left;
      margin: 20px; }
      footer .grupo-nav-footer .nav-footer p {
        font-size: 1.3rem;
        font-weight: bold; }
      footer .grupo-nav-footer .nav-footer ul li a {
        border: none;
        text-decoration: none;
        font-size: 1.3rem;
        color: black; }
        footer .grupo-nav-footer .nav-footer ul li a:hover {
          color: #1d98b4; }
        footer .grupo-nav-footer .nav-footer ul li a h6 {
          font-size: 1rem; }
  footer .medios-contacto .agrupar {
    margin: 5px; }
    footer .medios-contacto .agrupar .medio-correo {
      color: rgba(0, 0, 255, 0.726); }
    footer .medios-contacto .agrupar .medio-instagram {
      color: #ca1ba4; }
    footer .medios-contacto .agrupar .medio-whatsapp {
      color: green; }
    footer .medios-contacto .agrupar .medio-twitter {
      color: #00acee; }
