
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:wght@100;700;900&display=swap');

/* --------------- NAV ------------------------------ */

nav{
    background-color: white;
    border: solid 1px rgb(240, 239, 239);
}

/*  bg-light  preguntar prioridad*/

nav ul li a{
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    /* color: black; */
    border: solid 1px black;
    background-color: #E2ECE9;
    border-radius: 5px;
}

nav ul li a:hover{
    color: #1d98b4;
}

.activa{
    background-color: #BEE1E6;
}

/* ------------------ MAIN --------------------------- */

main {
    margin-top: 130px;
}

h1 {
    color: #398793;
    margin: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: 'EB Garamond', serif;

    animation-name: entrada;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes entrada {
    0%{
        transform: translateX(-100vw);
    }

    100%{
        transform: translateX(0vw);
    }
}

.card:hover{
    background-color: #E2ECE9;    
}

/* -------------- FOOTER ---------------- */

footer{
    background-color: #E2ECE9;
    margin-top: 20px;
}

.mapa{
    margin: 10px;
}

.nav-footer ul li a{
    border: none;
    text-decoration: none;
    color: black;
}

.agrupar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.agrupar p{
    margin: 0px 0px 0px 10px;
}

.agrupar i{
    margin: 5px;
    animation-name: expandir;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .5s;
}

@keyframes expandir{
    0%{
        transform: scale(1)
    }

    50%{
        transform: scale(1.1)
    }

    100%{
        transform: scale(1)
    }
}
