body{
    font-family: $fuente-general;
}

// Mixins //
@mixin animacion($nombre, $tiempo, $cantidad, $demora){
    animation-name: $nombre;
    animation-duration: $tiempo;
    animation-iteration-count: $cantidad;
    animation-delay: $demora;
}

// Extend //
.centrado-general{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-color{
    height:50px;
    max-width: 100px;
    border: $nav-borde;
}