
$fuente-general: 'EB Garamond 500', serif;
$hover-color: #1d98b4;
$footer-bg-color: #E2ECE9;
$titulo-color:#398793;
$nav-bg-normal:#E2ECE9;
$nav-bg-activo: #BEE1E6;
$nav-borde: solid 1px black;
$main-link-color: black;
$color-medio-correo:rgba(0, 0, 255, 0.726);
$color-medio-instagram: #ca1ba4;
$color-medio-whatsapp: green;
$color-medio-twitter: #00acee;

//Colores de Productos

$plateado-010:#a9adb0;
$cobre-030:#a02216;
$dorado-040:#d0a44b;
$oro-rico-045:#bd8668;
$blanco-perlado-050:#ffffff;
$negro-100:#000000;
$negro-marfil-102:#000000;
$gris-perla-111:#a9adb0;
$gris-nordico-116:#516570;
$gris-vintage-117:#a2a7ab;
$blanco-210:#ffffff;
$blanco-antiguo-213:#e8e4e1;
$manteca-214:#fcf8d3;
$hueso-215:#bfbaa7;
$piel-216:#ffdfb0;
$amarillo-cadmio-300:#fdbd15;
$amarillo-napoles-302:#ffe76b;
$amarillo-limon-303:#ede84a;
$oro-306:#ffc758;
$amarillo-pastel-307:#ffde63;
$amarillo-308:#ffdf3c;
$amarillo-oro-308b:#fba919;
$amarillo-suave-311:#ffefc3;
$amarillo-fluo-315:#d9d921;
$azul-400:#007db3;
$azul-oscuro-401:#01468b;
$azul-ceruleo-402:#0172ac;
$azul-cobalto-404:#0057a6;
$azul-ultramar-406:#1f419b;
$azul-talo-407:#222e84;
$azul-cyan-408:#0072ae;
$azul-pastel-409:#b2e0f8;
$cielo-412:#009ada;
$turquesa-414:#008499;
$celeste-brisa-416:#b3d5f0;
$celeste-bandera-417:#22c0f0;
$celeste-418:#caddee;
$azul-zafiro-421:#4879bc;
$indigo-422:#275cac;
$celeste-vintage-423:#b4d2d2;
$caribbean-424:#1a9d89;
$azul-mediterraneo-425:#087d80;
$magenta-500:#c82166;
$magenta-primario-501:#ab0068;
$carmin-502:#ed2c23;
$rosa-purpura-502b:#db4698;
$bordo-504:#b22432;
$uva-506:#651b29;
$violeta-510:#5b176a;
$violeta-pastel:#ccaacf;
$jacaranda-512:#a584bd;
$lila-513:#decfe4;
$lila-claro-519:#aaa3cf;
$violeta-imperial-520:#622e6e;
$naranja-600:#f26122;
$anaranjado-600c:#ff6800;
$naranja-oriental-601:#f47320;
$durazno-607:#fdb455;
$lilium-608:#fac2a7;
$rojo-700:#d81a34;
$rojo-cadmio-701:#ed1b24;
$rojo-tulipan-702:#ec323f;
$rojo-carmesi-703:#d81a34;
$rojo-bermellon-705:#ef4337;
$oxido-706:#9d2115;
$rojo-navidad-708:#ed2c23;
$rosa-victoria-709:#f9c0d3;
$rosado-710:#f5cbe1;
$fucsia-712:#ef5289;
$rosa-princesa-715:#f4c0d7;
$rosa-romantico-716:#f49fb2;
$rosa-country-717:#f389a0;
$fucsia-fluo-718:#e33c98;
$rosa-chicle-719:#e871a9;
$rosa-vintage-721:#f9ced7;
$rosa-paris-722:#e64298;
$rosa-colonial-723:#f3818b;
$rojo-724:#d81a34;
$tierra-siena-nat-802:#d89757;
$tierra-siena-tost-803:#c46c5e;
$tierra-sombra-nat-804:#7b6b5e;
$tierra-sombra-tost-805:#7c2e07;
$chocolate-807:#7a563e;
$marron-810:#7a563e;
$ocre-812:#faaa53;
$ocre-ferroso-812b:#df9848;
$cafe-819:#695647;
$lima-900:#b4d433;
$hierba-901:#75bf44;
$verde-cromo-907:#37500e;
$verde-manzana-910:#93c749;
$verde-lima-911:#b4d433;
$pino-912:#0cac4a;
$verde-palta-912b:#c5b150;
$verde-talo-913:#005234;
$verde-venecia-914:#9ba54f;
$verde-pastel-915:#a6d8cc;
$verde-eq-916:#007145;
$verde-calma-924:#aad7ae;
$verde-tuna-926:#d6c40a;
$aguamarina-927:#47c3cf;
$verde-vintage-928:#bae3e5;
$verde-oceanico-929:#01b1af;
$menta-930:#a6dc6e;
$verde-intenso-931:#277f7b;
