
$fuente-general: 'EB Garamond 500', serif;
$hover-color: #1d98b4;
$footer-bg-color: #E2ECE9;
$titulo-color:#398793;
$nav-bg-normal:#E2ECE9;
$nav-bg-activo: #BEE1E6;
$nav-borde: solid 1px black;
$main-link-color: black;
$color-medio-correo:rgba(0, 0, 255, 0.726);
$color-medio-instagram: #ca1ba4;
$color-medio-whatsapp: green;
