/* FOOTER */

footer {
  background-color: $footer-bg-color;
  margin-top: 20px;
  
  .grupo-nav-footer{
    @extend .centrado-general;
    justify-content: space-evenly;
    align-items: start;
    .nav-footer {
      text-align: left;
      margin: 20px;
      p {
        font-size: 1.3rem;
        font-weight: bold;
      }
      ul {
        li {
          a {
            border: none;
            text-decoration: none;
            font-size: 1.3rem;
            color: black;
            &:hover {
              color: $hover-color;
            }
            h6 {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  .medios-contacto {
    @extend .centrado-general;
    .agrupar {
      margin: 5px;
      //MAPA para Medios de Contacto
      $medios-contacto: (
        correo: $color-medio-correo,
        instagram: $color-medio-instagram,
        whatsapp: $color-medio-whatsapp,
        twitter: $color-medio-twitter,
      );
      @each $medio, $color in $medios-contacto {
        .medio-#{$medio} {
          color: $color;
        }
      }
    }
  }
}

//Animacion Iconos Medios de Contacto
// @keyframes expandir {
//   0% {
//     transform: scale(1);
//   }
//   50% {
//     transform: scale(1.1);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

//MQ Iconos Medio de Contacto en forma horizontal
// @media screen and (min-width: 576px) and (max-width: 992px) {
//   footer {
//     .medios-contacto {
//       width: 100%;
//       display: flex;
//       // justify-content: space-around;
//       .agrupar {
//         display: block;
//         text-align: center;
//       }
//     }
//   }
// }
