/* HEADER */

header{
    nav{
        background-color: white;
        border: solid 1px rgb(240, 239, 239);
        ul{
            li{
                a{
                    text-align: center;
                    font-size: 1.3rem;
                    border: $nav-borde;
                    background-color: $nav-bg-normal;
                    border-radius: 5px;
                    color: black !important;
                    &:hover{
                        color: $hover-color !important;
                    }
                }
                .active{
                    background-color: $nav-bg-activo;
                }
            } 
        }
    }
}
