/* MAIN */

main{
    margin-top: 130px;
    h1 {
        color: $titulo-color;
        margin: 20px;
        text-align: center;
        font-size: 3rem;
        @include animacion(entrada, 2s, 1, 0s);
    }
    .grupo-tarjetas{
        .row {
            .col{
                a{
                    text-decoration: none;
                    color: $main-link-color 
                }    
            }
        }
        .card{
            .card-body{
                text-align: center;
            
                h5{
                    color: $titulo-color;
                }
            }
            &:hover{
                background-color: $footer-bg-color;
            }
        }
        .card-producto{
            .card-body{
                .boton-producto{
                    text-align: center;
                    font-size: 1.3rem;
                    border: $nav-borde;
                    background-color: $nav-bg-activo;
                    border-radius: 5px;
                    color: black !important;
                    padding: 0.3rem;
                }
            }
            .lista-colores{
                background-color:white;

                .grupo-color{
                    background-color:white;
                    width:120px;
                    
                    .item-color-210{
                        @extend .item-color;
                        background-color:#ffffff; 
                    }
                    .item-color-308{
                        @extend .item-color;
                        background-color:#ffdf3c;
                    }
                    .item-color-716{
                        @extend .item-color;
                        background-color:#f49fb2;
                    }
                    .item-color-700{
                        @extend .item-color;
                        background-color:#d81a34;
                    }
                    .item-color-600{
                        @extend .item-color;
                        background-color:#f26122;
                    }
                    .item-color-912{
                        @extend .item-color;
                        background-color:#0cac4a;
                    }
                    .item-color-900{
                        @extend .item-color;
                        background-color:#b4d433;
                    }
                    .item-color-400{
                        @extend .item-color;
                        background-color:#007db3;
                    }.item-color-510{
                        @extend .item-color;
                        background-color:#5b176a;
                    }
                    .item-color-513{
                        @extend .item-color;
                        background-color:#decfe4;
                    }
                    .item-color-807{
                        @extend .item-color;
                        background-color:#7a563e;
                    }
                    .item-color-100{
                        @extend .item-color;
                        background-color:#000000;
                    }
                    h4{
                        color: black;
                        font-size: 1rem;
                        text-align: center;
                    }   
                }
            }
        }
    }
}

@keyframes entrada {
    0%{
        transform: translateX(-100vw);
    }

    100%{
        transform: translateX(0vw);
    }
}

@media screen and (max-width: 576px){
    main{
        .carousel{
            .slide{
                img{
                    height:20vh;
                }
            }
        }
    }
}