/* MAIN */

main{
    margin-top: 130px;
    h1 {
        color: $titulo-color;
        margin: 20px;
        text-align: center;
        font-size: 3rem;
    
        animation-name: entrada;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    .grupo-tarjetas{
        .card{
            .card-body{
                text-align: center;
            
                h5{
                    color: $titulo-color;
                }
            }
            &:hover{
                background-color: $footer-bg-color;
            }
        }
    }
}

@keyframes entrada {
    0%{
        transform: translateX(-100vw);
    }

    100%{
        transform: translateX(0vw);
    }
}