/* MAIN */

main{
    margin-top: 130px;
    h1 {
        color: $titulo-color;
        margin: 20px;
        text-align: center;
        font-size: 3rem;
        @include animacion(entrada, 2s, 1, 0s);
    }
    .grupo-tarjetas{
        .row {
            .col{
                a{
                    text-decoration: none;
                    color: $main-link-color 
                }    
            }
        }
        .card{
            .card-body{
                text-align: center;
            
                h5{
                    color: $titulo-color;
                    font-weight: bold;
                }
            }
            &:hover{
                background-color: $footer-bg-color;
            }
        }
        .card-producto{
            .card-body{
                .boton-producto{
                    text-align: center;
                    font-size: 1.3rem;
                    border: $nav-borde;
                    background-color: $nav-bg-activo;
                    border-radius: 5px;
                    color: black !important;
                    padding: 0.3rem;
                }
            }
            .lista-colores{
                background-color:white;

                .grupo-color{
                    background-color:white;
                    width:120px;

                    // MAPA para colores de productos
                    $codigos-colores: (
                        10:$plateado-010,
                        30:$cobre-030,
                        40:$dorado-040,
                        45:$oro-rico-045,
                        50:$blanco-perlado-050,
                        100:$negro-100,
                        102:$negro-marfil-102,
                        111:$gris-perla-111,
                        116:$gris-nordico-116,
                        117:$gris-vintage-117,
                        210:$blanco-210,
                        213:$blanco-antiguo-213,
                        214:$manteca-214,
                        215:$hueso-215,
                        216:$piel-216,
                        300:$amarillo-cadmio-300,
                        302:$amarillo-napoles-302,
                        303:$amarillo-limon-303,
                        306:$oro-306,
                        307:$amarillo-pastel-307,
                        308:$amarillo-308,
                        308b:$amarillo-oro-308b,
                        311:$amarillo-suave-311,
                        315:$amarillo-fluo-315,
                        400:$azul-400,
                        401:$azul-oscuro-401,
                        402:$azul-ceruleo-402,
                        404:$azul-cobalto-404,
                        406:$azul-ultramar-406,
                        407:$azul-talo-407,
                        408:$azul-cyan-408,
                        409:$azul-pastel-409,
                        412:$cielo-412,
                        414:$turquesa-414,
                        416:$celeste-brisa-416,
                        417:$celeste-bandera-417,
                        418:$celeste-418,
                        421:$azul-zafiro-421,
                        422:$indigo-422,
                        423:$celeste-vintage-423,
                        424:$caribbean-424,
                        425:$azul-mediterraneo-425,
                        500:$magenta-500,
                        501:$magenta-primario-501,
                        502:$carmin-502,
                        502b:$rosa-purpura-502b,
                        504:$bordo-504,
                        506:$uva-506,
                        510:$violeta-510,
                        511:$violeta-pastel,
                        512:$jacaranda-512,
                        513:$lila-513,
                        519:$lila-claro-519,
                        520:$violeta-imperial-520,
                        600:$naranja-600,
                        600c:$anaranjado-600c,
                        601:$naranja-oriental-601,
                        607:$durazno-607,
                        608:$lilium-608,
                        700:$rojo-700,
                        701:$rojo-cadmio-701,
                        702:$rojo-tulipan-702,
                        703:$rojo-carmesi-703,
                        705:$rojo-bermellon-705,
                        706:$oxido-706,
                        708:$rojo-navidad-708,
                        709:$rosa-victoria-709,
                        710:$rosado-710,
                        712:$fucsia-712,
                        715:$rosa-princesa-715,
                        716:$rosa-romantico-716,
                        717:$rosa-country-717,
                        718:$fucsia-fluo-718,
                        719:$rosa-chicle-719,
                        721:$rosa-vintage-721,
                        722:$rosa-paris-722,
                        723:$rosa-colonial-723,
                        724:$rojo-724,
                        802:$tierra-siena-nat-802,
                        803:$tierra-siena-tost-803,
                        804:$tierra-sombra-nat-804,
                        805:$tierra-sombra-tost-805,
                        807:$chocolate-807,
                        810:$marron-810,
                        812:$ocre-812,
                        812b:$ocre-ferroso-812b,
                        819:$cafe-819,
                        900:$lima-900,
                        901:$hierba-901,
                        907:$verde-cromo-907,
                        910:$verde-manzana-910,
                        911:$verde-lima-911,
                        912:$pino-912,
                        912b:$verde-palta-912b,
                        913:$verde-talo-913,
                        914:$verde-venecia-914,
                        915:$verde-pastel-915,
                        916:$verde-eq-916,
                        924:$verde-calma-924,
                        926:$verde-tuna-926,
                        927:$aguamarina-927,
                        928:$verde-vintage-928,
                        929:$verde-oceanico-929,
                        930:$menta-930,
                        931:$verde-intenso-931,
                    );
                    @each $codigo, $color in $codigos-colores{
                        .item-color-#{$codigo}{
                            @extend .item-color;
                            background-color: $color;
                        }
                    }
                    
                    h4{
                        color: black;
                        font-size: 1rem;
                        text-align: center;
                    }   
                }
            }
        }
    }
}

//Animacion ingreso de Titulos
@keyframes entrada {
    0%{
        transform: translateX(-100vw);
    }

    100%{
        transform: translateX(0vw);
    }
}

//MQ para Imagenes Carousel en Mobile
@media screen and (max-width: 576px){
    main{
        .carousel{
            .slide{
                img{
                    height:20vh;
                }
            }
        }
    }
}